@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

#about-container{
    background-color: #0B192C;
}

#card-container{
        background-image: linear-gradient(
            90deg,
            hsl(252deg 13% 58%) 0%,
            hsl(252deg 11% 57%) 3%,
            hsl(252deg 8% 57%) 6%,
            hsl(252deg 5% 56%) 10%,
            hsl(252deg 3% 55%) 15%,
            hsl(0deg 0% 55%) 21%,
            hsl(251deg 3% 51%) 30%,
            hsl(251deg 7% 46%) 43%,
            hsl(252deg 13% 41%) 58%,
            hsl(253deg 23% 36%) 78%,
            hsl(257deg 50% 27%) 100%
          );
}

#whatI-Did-txt{
	font-family: "Kanit", sans-serif;
}

/* resume section */

/* tech stack card style */
.container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #212121;	
}

.card {
	position: relative;
	width: 225px;
	height: 100px;
	border-radius: 12px;
	background: #444;
	overflow: hidden;
}

.wave {
	position: absolute;
	width: 500px;
	height: 700px;
	opacity: 0.6;
	left: -50%;
	top: 35px;
	background-color: #1a1616;
	border-radius: 40%;
	animation: wave 5s infinite linear;
}

.wave:nth-child(2) {
	top: 40px;
	animation: wave 7s infinite linear;
}
.wave:nth-child(3) {
	top: 45px;
	animation: wave 9s infinite linear;
}

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.content {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 25% 70%;
	gap: 0.8rem;
	padding: 1rem;
	color: #000;
	z-index: 10;
	border-radius: 12px;
}

/* scroll bar style */
.scroll-bar-style::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #aaa; /* or add it to the track */
  }
  
  /* Add a thumb */
  .scroll-bar-style::-webkit-scrollbar-thumb {
	background: #FAB12F;
  }

  .education-txt{
	font-family: "Parkinsans", sans-serif;
  }

  /* experiance & eduction style */
  #experince-education-box{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 1rem;
	height: 100%;
  }


@media screen and (min-width:320px) and (max-width:480px){
	#card-title{
		font-size: 14px;
	}
	#card-description{
		font-size: 10px;
		text-align: justify;
	}

	.card{
		width: 110px;
	}

	.content{
		grid-template-columns: auto;
		grid-template-rows: repeat(2,1fr);
	}
	.languages-card-img{
		width: 50%;
	}

	#experince-education-box{
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		row-gap: 1rem;

		/* grid-template-rows: repeat(2,50%); */
	}

	.education-txt{
		font-size: 12px;
	}

	#project-card{
		width: 250;
	}
	#project-card img{
		height: 100;
	}
}
@media screen and (min-width:768px) and (max-width:1024px){
	#card-title{
		font-size: 20px;
	}
	#card-description{
		font-size: 15px;
		text-align: justify;
	}

	.card{
		width: 190px;
	}
	.languages-card-img{
		width: 100%;
	}

	#experince-education-box{
		margin-top: 4rem;
		height: fit-content;
	}
	
	.education-txt{
		font-size: 15px;
	}
}
